.box {
  height: 100vh;
  width: 100vw;
  background-color: rgba(30, 30, 30, 0.9);
}

.header {
  height: 50px;
  box-shadow: 0px 5px 3px black;
  background-color: rgba(17, 17, 17, 1);

  .show {
    height: 50px;
    line-height: 50px;
    width: 50%;
    color: rgba(204, 204, 204, 1);
    display: inline-block;
    padding-left: 30px;
  }
}

.content {
  height: calc(100vh - 250px);
  box-shadow: 0px 5px 3px black;
  margin-top: 15px;
  background-color: rgba(17, 17, 17, 1);

  overflow-y: auto;

  /* 火狐浏览器兼容 */
  scrollbar-width: thin;
  scrollbar-color: #000000 rgba(0, 0, 0, 0.15);

  > * {
    margin-top: 10px;
    cursor: pointer;
  }

  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }

  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #000000;
  }

  &::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.15);
  }
}

.footer {
  position: relative;
  height: 150px;
  margin-top: 15px;
  box-shadow: 0px 5px 3px black;
  background-color: rgba(17, 17, 17, 1);
  padding: 10px;

  textarea {
    /* margin-top: 10px;
    margin-left: 10px; */
    height: 130px;
    width: 100%;
    font-size: 24px;
    color: rgba(204, 204, 204, 1);
    background-color: rgba(40, 40, 40, 1);
    resize: none;

    outline: none;
    border: none;
  }

  button {
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 50px;
    height: 25px;
    background-color: rgb(4, 194, 96);
    color: #ffffff;
  }
}

.msgBox {
  height: 100px;
  font-size: 24px;
  padding: 10px;
  text-align: left;
  width: 50%;

  .msgHead {
    font-size: 18px;
    background-color: rgb(42, 45, 42);
    color: rgb(222, 222, 222);
  }

  .msgContent {
    background-color: rgb(42, 45, 42);
    color: rgb(222, 222, 222);
  }
}

.myMsgBox {
  height: 100px;
  font-size: 24px;
  padding: 10px;
  text-align: right;
  width: 50%;
  margin-left: 50%;

  .msgHead {
    font-size: 18px;
    background-color: rgb(62, 181, 117);
    /* color: rgb(222, 222, 222); */
  }

  .msgContent {
    background-color: rgb(62, 181, 117);
    /* color: rgb(222, 222, 222); */
  }
}
